{% extends "index.html" %} {% block content %}

<!-- Generator-->
<br>
<section id="generator">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <form action="/results" method="POST" class="card p-3 bg-light">
                    <div class="mb-3">
                        <label for="podatek1" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="podatek2" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="customFile">Naloži...</label>
                        <input type="file" class="form-control" id="customFile" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<br> {% endblock %}