{% extends "index.html" %} {% block content %}

<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <p class="text-info">
                    Sport science research, artificial intelligence methods and other computational methods are in a huge expansion. Broad specter of analyzers is being developed and new techniques of discovering knowledge from sport’s data are proposed. The last listed
                    feature however presents a great bottleneck of sport’s data analysts. In order to prevent difficult process of searching the data, and support the analyst’s opinion, we propose a sophisticated preprocessing techniques, named SportyDataGen.
                    Its main mission “to support research process”, is packed into a freely available online generator of sport training data. Main features of SportyDataGen are:
                </p>

                <h2 class="text-warning">Easy to use</h2>
                <p class="text-success">
                    SportyDataGen is used with much ease. User may select interested parameters and sport’s data is generated. To use SportyDataGen, no annoying register/login features are needed and no irritating advertisements are present.
                </p>

                <h2 class="text-warning">Real data</h2>
                <p class="text-success">
                    SportyDataGen generates data obtained from different athletes. Amateur and professional athletes are taken into account. SportyDataGen totally relies on references and therefore does not offer randomly generated data.
                </p>

                <h2 class="text-warning">Easy sharing of generated datasets</h2>
                <p class="text-success">
                    Generated datasets are downloaded from a server. Each of them obtains unique dataset link for the purposes of citing in a publication or sharing to your friends.
                </p>

                <h2 class="text-warning">Easy reuse and replication</h2>
                <p class="text-success">
                    In any case, reviewers may be equipped by a full dataset and to convince themselves by reproducing your research.
                </p>

                <h2 class="text-warning">Multiple format output</h2>
                <p class="text-success">
                    A strive to help researchers with time consuming tasks is taken into account. Sport’s data can therefore be downloaded in a multiple formats, including .csv and .json files.
                </p>

                <h2 class="text-warning">Permanent storage</h2>
                <p class="text-success">
                    Generated datasets are permanently stored on a server and daily backups are conducted.
                </p>

                <h2 class="text-warning">Rising data!</h2>
                <p class="text-success">
                    Data is added into our database regularly. To have an access for sport volunteers for donating sports’s data is in the accordance with the mission of SportyDataGen.
                </p>

                <h2 class="text-warning">Support for multiple sports</h2>
                <p class="text-success">
                    Current version of SportyDataGen supports biking and running. The SportyDataGen team is happy to announce that support for more sports, including swimming and multisport is planned.
                </p>

                <h2 class="text-warning">Under development</h2>
                <p class="text-success">
                    Current version of SportyDataGen is not the end. New ideas will be implemented in the coming versions of SportyDataGen.
                </p>

            </div>
        </div>
    </div>
</section>

{% endblock %}